table {
  width: 100%;
}

.mat-cell {
  padding-right: 30px;
}

.mat-header-row {
  background-color: rgb(186, 190, 190);
}

.smallcap {
  background-color: rgb(108, 226, 108);
}

a {
  margin-right: 10px;
  margin-bottom: 10px;
}

.mat-column-industry {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
